/* viewport */

/* % of viewPort width */

h1{
  font-size: 10vw;
  font-weight: 100;
  font-style: italic;
  color:darkorange;
}

/* viewport height */
/* font style */
h2{
  font-size: 10vh;
  font-style: italic;
  font-weight: 100;
  color: darkblue;
}
p{
  letter-spacing: 5px;
  word-spacing: 5px;
  line-height: 20px;
}

/* text-transform */
ul{
  text-transform: uppercase;
}

/* hw */
/* font-stretch */
/* font variant */